architectures: arm64-v8a armeabi-v7a x86 x86_64
description: com.meiresearch.android.plotprojects
apiversion: 4

# these should not be edited
name: com.meiresearch.android.plotprojects
moduleid: com.meiresearch.android.plotprojects
guid: ca7b8770-fe1a-4770-8a95-cf2a5ca98376
platform: android
respackage: com.google.android.gms
